* {
  margin: 0px;
  padding: 0px;
}
:root {
  --btn-color-one: orange;
  --btn-color-two: black;
  --color-one: #01acfd;
  --color-two: #05d4df;
  --color-three: #5d58ef;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tittle {
  display: flex;
  align-items: center;
}

.menus {
  display: flex;
  align-items: center;
}

.menus li {
  list-style: none;
  padding: 10px;
}

.list-item1 {
  color: var(--btn-color-one);
}
.list-item2 {
  color: var(--color-one);
}
.list-item3 {
  color: var(--color-two);
}
.list-item4 {
  color: var(--color-three);
}

.btn {
  padding: 10px 45px 10px 45px;
  color: white;
  border-radius: 10px;
  border: none;
}

.nav-btn {
  background-color: var(--btn-color-one);
}

/* End of Navber */

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark-text-one {
  color: var(--btn-color-one);
}
.mark-text-two {
  color: var(--color-one);
}

.btn-two {
  background-color: var(--btn-color-two);
  margin-top: 15px;
}

.hero-tittle p {
  margin-top: 15px;
}
.hero-tittle h1 {
  line-height: 1.1;
  font-size: 55px;
}

/* End of hero section */

.standard-container {
  background-image: url(./assets/bg.png);

  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.standard-container-width {
  width: 80%;
  margin: 0 auto;
}
.boxes {
  margin-top: 55px;
  display: flex;
  gap: 25px;
  margin-bottom: 55px;
}

.box-1 {
  text-align: center;
  padding: 45px 25px 45px 25px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  border: 0.94px solid rgb(222, 245, 255);
  font-weight: 500;
}

.box-2 {
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  text-align: center;
  padding: 45px 25px 45px 25px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.box-3 {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  text-align: center;
  padding: 45px 25px 45px 25px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.box-1 a {
  text-decoration: none;
  color: var(--color-one);
}
.box-2 a {
  color: var(--btn-color-one);
}
.box-3 a {
  color: var(--color-three);
}
.box-1 p {
  margin-top: 30px;
  margin-bottom: 40px;
}
.box-1 h1 {
  margin-top: 20px;
}

/* End of standard section */
.stories-container {
  background-image: url(./assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.stories-container-width {
  width: 80%;
  margin: 0 auto;
}

.story-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 5px;
}

.story-box1 {
  grid-column: 1;
  grid-row: 1/3;
}
